<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

    <title>360 Data Science POC Demos</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/dist/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <!-- Alpha.ly Version 0.1 | Development Version -->
    <div class="container">
        <div class="col-xs-12">
            <div class="text-center" style="padding-top: 30px; padding-bottom: 30px;">
                <a href="https://www.360datascience.com" target="_blank"> <img src="static/dist/images/360ds.jpg" width="100" height="100"> </a>
                <h2 style="color: black; padding-top: 20px;">360 Data Science POC Demos</h2>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-xs-12">
            <div class="text-center">
                <br>
                <br>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://infolobe.herokuapp.com/'" target="_blank" type="button" class="btn btn-outline-light shake" style="color: black; width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">Infolobe</button>
                </div>
                <br>
                <br>
                <div style="padding-bottom: 30px;">
                    <button id="button1" onclick="location.href='https://cartpole360ds.herokuapp.com/'" target="_blank" type="button" class="btn btn-outline-light shake" style="color: black; width: 40%; padding-top:10px; padding-bottom:10px; font-weight: 600;">360 Digital Twins Web</button>
                    <button id="button2" onclick="location.href='https://cartpole-mobile.herokuapp.com/'" target="_blank" type="button" class="btn btn-outline-light shake" style="color: black; width: 40%; padding-top:10px; padding-bottom:10px; font-weight: 600;">360 Digital Twins Mobile</button>
                </div>
                <br>
                <br>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://symbolobe.herokuapp.com/'" type="button" target="_blank" class="btn btn-outline-light shake" style="color: black; width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">Symbolobe</button>
                </div>
                <br>
                <br>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://app.mockplus.com/run/rp/W08DFBWLfR56/_qnoyLVi1W5h?ps=1&ha=0&la=0&fc=0&out=1'" type="button" target="_blank" class="btn btn-outline-light shake" style="color: black; width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">Enterprise AI</button>
                </div>
                <br>
                <br>
                <!-- <div style="padding-bottom: 30px;">
                    <button onclick="location.href='#'" type="button" class="btn btn-outline-light" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">Connect On LinkedIn</button>
                </div>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='#'" type="button" class="btn btn-outline-light" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">My Personal Website</button>
                </div>-->
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="https://www.360datascience.com" target="_blank" style="color: #34312f;">powered by 360 DataScience</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- This pre-lander was created by Brandon Nilsson -->
    <!-- You're welcome to edit, reproduce and change this template as long as original contributation stays present on the website at all times.  -->
</body>

</html>